html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFirstFont;
    src: url(Asap-Medium.ttf);
}

body {
    background-color: rgb(38, 53, 53);
    height: 2000px;
}

#About {
    margin: 10px;
}

#Contact {
    margin: 10px;
}

.nav-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.nav-bar {
    width: 100%;
    height: auto;
    font-family: myFirstFont;
    color: white;
    text-decoration: none;
    font-size: 15px;
    justify-items: space-around;
}

@media screen and (max-width: 1000px) {
    .nav-bar {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    #name {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .vector1 {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: white;
    transition: color .3s;
}

a:hover {
    color: rgb(34, 35, 36);
}

.paragraph1 {
    max-width: 100%;
    width: auto;
    height: auto;
    padding-top: 10em;
    font-family: myFirstFont;
    font-size: 30px;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 5rem;
    margin-right: 100px;
}
.Welcome{
    padding-top: 10rem;
    font-family: myFirstFont;
    color: white;
    font-size: 50px;
}

@media screen and (max-width: 1000px) {
    .paragraph1 {
        margin-right: 80px;
    }
}

.vector1 {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: 10em;
    width: 120;
    max-width: 100%;
    justify-content: right;
    position: absolute;
    right: 75px;
    z-index: 2000;
}

.vector2 {
    display: flex;
    flex-direction: row;
    height: auto;
    padding-bottom: 10em;
    max-width: 100%;
    justify-content: right;
    position: absolute;
    right: 75px;
    z-index: 2000;
}

.paragraph2 {
    max-width: 100%;
    width: auto;
    height: auto;
    padding-top: 20em;
    font-family: myFirstFont;
    font-size: 30px;
    color: black;
    text-align: left;
    display: flex;
    align-items: flex-start;
    margin: 0 5rem;
    margin-right: 1000px;
    flex-direction: column;
}