html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: myFirstFont;
    src: url(Asap-Medium.ttf);
}

body {
    background-color: rgb(38, 53, 53);
    height: 2000px;
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 2em;
    }
}

nav ul {
    padding: 0;
    display: inline-block;
    margin: auto;
    list-style-type: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 20px 50px;
}

#name {
    font-weight: bold;
}

.nav-bar {
    width: 100%;
    height: auto;
    font-family: myFirstFont;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    .nav-bar {
        flex-direction: column;
    }
}

@media screen and (max-width: 1000px) {
    #name {
        text-align: center;
    }
}

@media screen and (max-width: 1000px) {
    .vector1 {
        flex-direction: column;
    }
}

a {
    text-decoration: none;
    color: white;
    transition: color .3s;
}

a:hover {
    text-decoration: none;
    color: rgb(34, 35, 36);
}

#social img {
    transition: transform .3s;
}

#social img:hover {
    transform: scale(1.2);
}

#Welcome {
    font-size: 3vw;
}

.animate {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-tranform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.welcome-box {
    max-width: 100%;
    width: 600px;
    margin: 50px;
    padding: 100px;
    font-family: myFirstFont;
    font-size: 30px;
    color: white;
    background-color: rgb(30, 30, 30);
    border: 10px;
    border-radius: 30px;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1s;
}

.Welcome {
    padding-top: 5rem;
    padding-left: 5rem;
    font-family: myFirstFont;
    color: white;
    font-size: 50px;
}

footer {
    text-align: center;
    padding: 30px;
    background-color: rgb(21, 24, 27);
    margin: 0px;
}